.ventajas {
  padding: 2rem 1rem;
  background-color: var(--light-blue);
  margin-bottom: 4rem;
}

.ventajas h2 {
  display: block;
  width: fit-content;
  margin: 2rem auto;
  color: var(--color-white);
  font-size: 2rem;
  text-align: center;
  cursor: default;
}


.cards-container {
  display: grid;
  gap: 1.5rem;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (max-width: 460px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 461px) and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}