
.caracteristicas {
  background-color: var(--light-blue);
  width: 100%;
  padding: 2rem 0;
  box-sizing: border-box;
  color: var(--color-white);
}

.underline-title {
  position: relative;
  display: inline-block;
  cursor: none;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.underline-title::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -6px;
  left: 0;
  background-color: var(--orange);
  transition: width 0.5s ease;
}



.caracteristica-card {
  background-color: var(--color-white);
  border-radius: 12px;
  margin: 0;
  box-shadow: 0 4px 8px var(--shadow-black-light);
  color: var(--orange);
  height: 180px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: default;
  max-width: 1200px;
  padding: 0 1.5rem;
}



.caracteristica-card .icon {
  color: var(--orange)!important;
  filter: drop-shadow(0 0 3px var(--blue-background));
}

.caracteristica-card h3 {
  margin: 0 0 0.75rem 0;
  font-weight: 600;
  font-size: 1.3rem;
}

.caracteristica-card p {
  font-size: 1rem;
  line-height: 1.4;
}
.caracteristicas-contenido {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.logo-slide {
  max-width: 700px;
  max-height: 80px;
  object-fit: contain;
}

.boton-contacto-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.boton-contacto {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--dark-blue);
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.boton-contacto:hover {
  background-color: var(--hover-orange-light);
  transform: scale(1.05);
  color: var(--dark-blue);
}



@media (max-width: 768px) {
  .caracteristicas {
    padding: 1.5rem 1rem;
  }
  .underline-title {
    font-size: 1.6rem;
  }
  .caracteristica-card {
    height: auto;
    padding: 1rem;
  }
  .logo-slide {
  max-width: 150px;
  max-height: 80px;
  object-fit: contain;
}
}