.nuestra-esencia {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  color: var(--color-white);
  background-color: var( --light-blue);


}

.nuestra-esencia.visible {
  opacity: 1;
  transform: translateY(0);
}

.titulo {
  position: relative;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  display: inline-block;
  cursor: pointer;
  color: var(--color-white);
  transition: color 0.3s ease, transform 0.3s ease;
}

.titulo::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -6px;
  left: 0;
  background-color: var(--orange);
  transition: width 0.5s ease;
}

.titulo:hover {
  color: var(--orange);
  transform: scale(1.05);
  text-shadow: 0 0 8px var(--orange-light);
}

.titulo:hover::after {
  width: 100%;
}

.nuestra-esencia p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--color-white);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease 0.3s, transform 0.8s ease 0.3s;
}

.nuestra-esencia.visible p {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .nuestra-esencia {
    padding: 1rem 1rem;
  }
  .titulo {
    font-size: 1.8rem;
  }
  .nuestra-esencia p {
    font-size: 1rem;
    max-width: 90%;
  }
}