.navbar {
  background-color: var(--blue-background);
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1100;
  padding: 2rem;
}

.nav_logo img {
  width: 6rem;
  height: auto;
  padding: 1rem;
  border-radius: 50%;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.nav_items a {
  margin: 15px 0;
  padding: 0 15px;
  color: var(--color-white);
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav_items a:hover {
  color: var(--orange);
}

.nav_items.open {
  transform: translateX(0);
}

.nav_toggle {
  display: none;
}

@media (max-width: 1439px) {

  .navbar{
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .nav_items {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--blue-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
    padding-left: 2rem;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .nav_items.open {
    transform: translateX(0);
  }

  /* === BOTÓN HAMBURGUESA === */
 .nav_toggle {
  display: flex !important;
  flex-direction: column; 
  justify-content: space-between;
  width: 35px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 2001;
}


  .nav_toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 2px;
    transform-origin: 0% 50%;
    transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  }

  /* ====== ESTADO ABIERTO (X visible y centrada) ====== */
  .nav_toggle.open span {
    background-color: var(--color-white);
    box-shadow: none;
  }

  .nav_toggle.open span:nth-child(1) {
    transform: rotate(49deg);
  }

  .nav_toggle.open span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
  }

  .nav_toggle.open span:nth-child(3) {
    transform: rotate(-48deg);
  }
}
