.funcionalidades {
  padding: 2rem 1rem;
  background-color: var(--dark-blue);
  margin-top: 2rem;

}

.funcionalidades h2 {
  display: block;
  width: fit-content;
  margin: 2rem auto;
  color: var(--color-white);
  font-size: 2rem;
  text-align: center;
}


.underline-title {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.underline-title::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: var(--orange)!important;
  transition: width 0.5s ease;
}

.underline-title:hover {
  color: var(--orange)!important;
  transform: scale(1.05);
  text-shadow: 0 0 8px var(--orange-light)!important;
}

.underline-title:hover::after {
  width: 100%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 460px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 461px) and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}