Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-primary-dark);
    min-height: 10vh;
    color: white;
    align-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
}

.social-media {
    display: flex;
    gap: 1rem; 
}