Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue-background);
    min-height: 10vh;
    color: var(--color-white);
    align-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
}

.social-media{
    display: flex;
    gap: 2rem;
}
.social-media a {
  color: var(--color-white); /* color inicial de los íconos */
  font-size: 2rem;            /* tamaño de los íconos */
  transition: color 0.3s ease; /* efecto suave al pasar el mouse */

}

.social-media a:hover {
  color: var(--orange);       /* cambia a naranja al pasar el mouse */
}
